<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wittayapun.june.test2">
    <!--manifest element-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon_app"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <!--application element-->

        <activity android:name=".Splash_screen.SplashScreen" android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity android:name=".MainActivity" android:screenOrientation="portrait" />

        <activity android:name=".ChestDetailActivity" android:screenOrientation="portrait" />

        <activity
            android:name=".In_Navigation_Menu.Suggest_itemActivity" android:screenOrientation="portrait"
            android:label="@string/ท่าออกกำลังกายที่เหมาะสม" />
        <activity
            android:name=".In_Navigation_Menu.Bmi_item2Activity" android:screenOrientation="portrait"
            android:label="@string/คำนวณดัชนีมวลกาย" />
        <activity
            android:name=".In_Navigation_Menu.Bodyfat_item3Activity" android:screenOrientation="portrait"
            android:label="@string/คำนวณเปอร์เซ็นต์ไขมันในร่างกาย" />
        <activity
            android:name=".In_Navigation_Menu.Weight_item4Activity" android:screenOrientation="portrait"
            android:label="@string/น้ำหนักที่เหมาสมกับส่วนสูง" />
        <activity
            android:name=".In_Navigation_Menu.Calorie_item5Activity" android:label="@string/พลังงานที่ต้องการในแต่ละวัน" />
        <activity android:name=".In_Navigation_Menu.UserActivity" android:screenOrientation="portrait"/>
        <activity android:name=".In_Navigation_Menu.ActivityWhenHaveUser.EditDetailActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>