<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wittayapun.june.test2">
    //manifest element
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        //application element
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChestDetailActivity" />
        <activity
            android:name=".In_Navigation_Menu.Suggest_itemActivity"
            android:label="@string/ท่าออกกำลังกายที่เหมาะสม" />
        <activity
            android:name=".In_Navigation_Menu.Bmi_item2Activity"
            android:label="@string/คำนวณดัชนีมวลกาย" />
        <activity
            android:name=".In_Navigation_Menu.Bodyfat_item3Activity"
            android:label="@string/คำนวณเปอร์เซ็นต์ไขมันในร่างกาย" />
        <activity
            android:name=".In_Navigation_Menu.Weight_item4Activity"
            android:label="@string/น้ำหนักที่เหมาสมกับส่วนสูง" />
        <activity
            android:name=".In_Navigation_Menu.Calorie_item5Activity"
            android:label="@string/พลังงานที่ต้องการในแต่ละวัน" />
        <activity android:name=".In_Navigation_Menu.UserActivity" />
        <activity android:name=".In_Navigation_Menu.ActivityWhenHaveUser.EditDetailActivity"></activity>
    </application>

</manifest>